<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>LostArkAPI</title>
</head>

<div layout:fragment="backgroundImage">

</div>
<div layout:fragment="content">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center text-white">
            <div class="profile align-items-center card bg-dark col-6 text-white mx-auto my-5" style="height: 600px">


            </div>
            <div class="characterStat align-items-center card bg-dark col-2 text-white mx-auto" style="height: 600px">

            </div>
            <div class="engravings card bg-dark col-3 text-white mx-auto" style="height: 600px">

            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center text-white">
            <div class="equipment card bg-dark col-5 text-white mx-auto my-2" style="height: 600px">
                <div class="mx-2 my-2 bg-dark">
                    <p class="무기 ellipsis"></p>
                    <p class="투구 ellipsis"></p>
                    <p class="상의 ellipsis"></p>
                    <p class="하의 ellipsis"></p>
                    <p class="장갑 ellipsis"></p>
                    <p class="어깨 ellipsis"></p>
                </div>
            </div>
            <div class="accessory card bg-dark col-5 text-white mx-auto my-2" style="height: 600px">
                <div class="mx-2 my-2 bg-dark">
                    <p class="목걸이 ellipsis"></p>
                    <p class="귀걸이1 ellipsis"></p>
                    <p class="귀걸이2 ellipsis"></p>
                    <p class="반지1 ellipsis"></p>
                    <p class="반지2 ellipsis"></p>
                    <p class="어빌리티스톤 ellipsis"></p>
                    <p class="팔찌 ellipsis"></p>
                </div>
            </div>
            <div class="gems card justify-content-center align-items-center bg-dark col-1 text-white mx-auto my-2" style="height: 600px">

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/Character.js}"></script>
</div>

<script layout:fragment="script" th:inline="javascript">
    let characterName = new URL(location.href).pathname.substring(11);
    let profileDiv = document.querySelector('.profile');
    let characterStatDiv = document.querySelector('.characterStat');
    let engravingsDiv = document.querySelector('.engravings');

    let gemsDiv = document.querySelector('.gems');

    function switchArmoryGrade(armoryEquipment) {

        switch (armoryEquipment.Grade) {

            case "고대":
                return `<p class="ellipsis"><span class="badge d-inline mx-3" style="background: beige; color: black">${armoryEquipment.Grade}</span><img src="${armoryEquipment.Icon}" class="border rounded mx-3" style="width: 50px; height: 50px">${armoryEquipment.Name}</p>`
                break;
            case "유물":
                return `<p class="ellipsis"><span class="badge d-inline mx-3" style="background: darkorange; color: white">${armoryEquipment.Grade}</span><img src="${armoryEquipment.Icon}" class="border rounded mx-3" style="width: 50px; height: 50px">${armoryEquipment.Name}</p>`
                break;
            case "전설":
                return `<p class="ellipsis"><span class="badge d-inline mx-3" style="background: yellow; color: white">${armoryEquipment.Grade}</span><img src="${armoryEquipment.Icon}" class="border rounded mx-3" style="width: 50px; height: 50px">${armoryEquipment.Name}</p>`
                break;
            case "영웅":
                return `<p class="ellipsis"><span class="badge d-inline mx-3" style="background: rebeccapurple; color: white">${armoryEquipment.Grade}</span><img src="${armoryEquipment.Icon}" class="border rounded mx-3" style="width: 50px; height: 50px">${armoryEquipment.Name}</p>`
                break;
            case "희귀":
                return `<p class="ellipsis"><span class="badge d-inline mx-3" style="background: deepskyblue; color: white">${armoryEquipment.Grade}</span><img src="${armoryEquipment.Icon}" class="border rounded mx-3" style="width: 50px; height: 50px">${armoryEquipment.Name}</p>`
                break;
        }
    }

    function printCharacter(characterName) {
        let profileStr = '';
        let characterStatStr = '';
        let effectStr = '';

        let gemsStr = '';

        getCharacter(characterName).then(data => {

            tempTitle = data.ArmoryProfile.Title;
            tempTownName = data.ArmoryProfile.TownName;
            tempGuildName = data.ArmoryProfile.GuildName;

            if (tempTitle === null) {
                tempTitle = "없 음";
            }

            if (tempTownName === null) {
                tempTownName = "없 음";
            }

            if (tempGuildName === null) {
                tempGuildName = "없 음"
            }

            profileStr += `<div class="card-body col d-flex justify-content-between align-items-center">
                                <div class="w-50">
                                    <p class="ellipsis"><strong>서 버 : </strong>${data.ArmoryProfile.ServerName}</p>
                                    <p class="ellipsis"><strong>길 드 : </strong>${tempGuildName}</p>
                                    <p class="ellipsis"><strong>클래스 : </strong>${data.ArmoryProfile.CharacterClassName}</p>
                                    <p class="ellipsis"><strong>칭 호 : </strong>${tempTitle}</p>
                                    <p class="ellipsis"><strong>전 투 : </strong>${data.ArmoryProfile.CharacterLevel}</p>
                                    <p class="ellipsis"><strong>아이템 : </strong>${data.ArmoryProfile.ItemMaxLevel}</p>
                                    <p class="ellipsis"><strong>원정대 : </strong>${data.ArmoryProfile.ExpeditionLevel}</p>
                                    <p class="ellipsis"><strong>P V P : </strong>${data.ArmoryProfile.PvpGradeName}</p>
                                    <p class="ellipsis"><strong>영 지 : </strong>${tempTownName}</p>
                                    <p class="나침반 ellipsis"></p>
                <p class="부적 ellipsis"></p>
                                </div>`

            profileStr += `<div class="w-50">
                                    <img src="${data.ArmoryProfile.CharacterImage}" class="img img-fluid border rounded-3" alt="사진정보 없음">
                                    <div class="my-3">`

            for (tendency of data.ArmoryProfile.Tendencies) {
                profileStr += `<p class="ellipsis"><string>${tendency.Type} : </strong>${tendency.Point} / ${tendency.MaxPoint}</p>`
            }

            profileStr += `</div>`

            characterStatStr += `<div class="card-body my-3 align-items-center">`

            for (const stat of data.ArmoryProfile.Stats) {
                characterStatStr += `<p class="ellipsis">${stat.Type} : ${stat.Value}</p>`
            }

            characterStatStr += `</div>`

            profileDiv.innerHTML += profileStr;
            characterStatDiv.innerHTML += characterStatStr;

            if (data.ArmoryEngraving.ArkPassiveEffects === null) {
                for (effect of data.ArmoryEngraving.Effects) {
                    effectStr += `<div class="d-flex justify-content-between mx-2 my-2 align-items-center">
                                    <p class="ellipsis">${effect.Name}</p><img src="${effect.Icon}" class="img-fluid rounded-circle w-25">
                                  </div>`
                }
            } else {
                for (arkpassiveEffect of data.ArmoryEngraving.ArkPassiveEffects) {
                    effectStr += `<div class="d-flex justify-content-between mx-2 my-2 align-items-center">
                                    <p class="ellipsis">${arkpassiveEffect.Name}</p>
                                  </div>`
                }
            }

            engravingsDiv.innerHTML += effectStr;

            let equipmentType = ["무기", "투구", "상의", "하의", "장갑", "어깨", "목걸이", "귀걸이", "귀걸이", "반지", "반지", "어빌리티 스톤", "팔찌", "나침반", "부적"]
            let count = 0;

            let ear = false;
            let ring = false;

            for (let i = 0; i < equipmentType.length; i++) {
                let type = data.ArmoryEquipment[count].Type;


                if (type === equipmentType[i]) {
                    if (equipmentType[i] === "어빌리티 스톤") {
                        document.querySelector(".어빌리티스톤").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    } else if (equipmentType[i] === "귀걸이" && !ear) {
                        document.querySelector(".귀걸이1").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                        ear = true;
                    } else if (equipmentType[i] === "귀걸이" && ear) {
                        document.querySelector(".귀걸이2").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    } else if (equipmentType[i] === "반지" && !ring) {
                        document.querySelector(".반지1").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                        ring = true;
                    } else if (equipmentType[i] === "반지" && ring) {
                        document.querySelector(".반지2").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    } else if (equipmentType[i] === "나침반") {
                        document.querySelector(".나침반").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    } else if (equipmentType[i] === "부적") {
                        document.querySelector(".부적").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    } else {
                        document.querySelector("." + equipmentType[i]).innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    }
                    count++;
                } else {
                    if (equipmentType[i] === "어빌리티 스톤") {
                        document.querySelector(".어빌리티스톤").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                               <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                                           </svg>`;
                    } else if (equipmentType[i] === "귀걸이" && !ear) {
                        document.querySelector(".귀걸이1").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                           <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                                       </svg>`;
                        ear = true;
                    } else if (equipmentType[i] === "귀걸이" && ear) {
                        document.querySelector(".귀걸이2").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                           <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                                       </svg>`;
                    } else if (equipmentType[i] === "반지" && !ring) {
                        document.querySelector(".반지1").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                           <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                                     </svg>`;
                        ring = true;
                    } else if (equipmentType[i] === "반지" && ring) {
                        document.querySelector(".반지2").innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                                           <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                                     </svg>`;
                    } else if (equipmentType[i] === "나침반") {
                        document.querySelector(".나침반").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    } else if (equipmentType[i] === "부적") {
                        document.querySelector(".부적").innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    } else {
                        document.querySelector("." + equipmentType[i]).innerHTML = switchArmoryGrade(data.ArmoryEquipment[count]);
                    }
                    count++;
                }

            }

            for (gemsData of data.ArmoryGem.Gems) {
                gemsStr += `<img src="${gemsData.Icon}" class="border rounded mx-3" style="width: 50px; height: 50px">`
            }

            gemsDiv.innerHTML += gemsStr;
        });



        function printCharacterAvatars(characterName) {

            getCharacterAvatars(characterName).then(data => {

            });
        }

        function printCharacterCombatskills(characterName) {

            getCharacterCombatskills(characterName).then(data => {

            });
        }

        function printCharacterCards(characterName) {

            getCharacterCards(characterName).then(data => {

            });
        }

        function printCharacterGems(characterName) {

            getCharacterGems(characterName).then(data => {

            });
        }

        function printCharacterColosseums(characterName) {

            getCharacterColosseums(characterName).then(data => {

            });
        }

        function printCharacterCollectibles(characterName) {

            getCharacterCollectibles(characterName).then(data => {

            });
        }
    }

    printCharacter(characterName);

</script>

</html>