.navi {
    position: fixed;
    bottom: 150px;
    right: 40px;
    width: 50px;
    height: 50px;
}

.naviIcon {
    position: relative;
    text-align: center;
    font-size: 40px;
    height: 50px;
    border-radius: 90px;
    cursor: pointer;
}

.naviIcon i {
    position: absolute;
    top:11%;
    left:10%;
    color: white;
}

.naviList {
    position: absolute;
    width: 150px;
    height: 250px;
    left: -100px;
    top: -250px;
    display: none;
    background-color: transparent;
}

.naviList li {
    padding: 2px;
    margin-bottom: 7px;
    list-style-type: none;
    font-size: 16px;
    background-color: white;
    border-radius: 4px;
}

.naviList li a {
    color: blue;
}

.naviIcon:hover {
    background-color: #444444;
    .naviList {
        display: block;
    }
}

.moveUp,
.moveDown {
    position: fixed;
    bottom: 100px;
    right: 40px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 90px;
    text-align: center;
}

.moveDown {
    bottom: 50px;
}

.moveUp i,
.moveDown i {
    color: white;
}
