@font-face {
    font-family: 'kdg_Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/kdg_Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.siteHeader{
    font-family: "kdg_Medium", serif;
}

.searchBar{
    border : 1px solid white;
    border-radius : 40px;
}