<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <title>LostArkAPI - Main</title>
</head>

<div layout:fragment="content">
    <th:block th:if="${continue != null}">
        hello
    </th:block>
    <div class="container">
        <div class="events d-flex flex-wrap">

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/Events.js}"></script>
</div>

<script layout:fragment="script" th:inline="javascript">
    const eventsDiv = document.querySelector('.events');

    let datas;

    function printEvents() {
        let str = '';
        getEvents().then(data => {

            for (const item of data) {

                str += `<div class="card col-3">
                            <a href="${item.Link}"><img src="${item.Thumbnail}" class="card-img-top" alt="eventImage"></a>
                            <div class="card-body">
                                <h5 class="card-title">${item.Title}</h5>
                                <p class="card-text">시작날짜 : ${item.StartDate}</p>
                                <p class="card-text">종료날짜 : ${item.EndDate}</p>
                            </div>
                        </div>`
            }
            eventsDiv.innerHTML = str;

        }).catch(e => {
            console.log(e)
        });

    }

    printEvents();
</script>

</html>